
/* secondary color: #b5ab9e */


/* General APP style config */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*Header css config in Header.css*/

/* CSS styling for content between Header/Navbar and Footer */
main {
  /* padding: 20px 0; */
}

h1 {
  /* padding-left: 50px; */
}
/* CSS styiling for Footer */
#footerDiv {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background-color: #b5ab9e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
#footerDiv span {
  color: white;
}
#footerDiv a {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
}

.card {
  color: white;
  background-color: #b5ab9e;
}

/* Animations ???
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Media Querries
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* Mobile devices */
@media /*(min-width: 320px) and*/ (max-width: 480px) {
  h1{
    font-size: 20;
    margin-top: 60px;
  }
  
  h3{
    font-size: large;
    margin: 20px 0 25px 0;
  }
  
  p{
    font-size: x-small;
  }
  
  #headermenu{
    display: none;
  }
  
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {

  #headermenu{
    display: none;
  }
  h1{
    font-size: 20;
    margin-top: 60px;
  }

  /**
    * Header (Dissapering -> Make a burger menu)
    * Home (Header animation is too big -> Decrease size)
    * Projects (Height issues maybe, Carrousel issues being too big and not centered)
    * Projects
    ** Map (Video being fixed size as too big, Code Section overflow to right )
    ** All of the other (Code Section overflow to right)
    * Education (Semester/subject blocks are fixed sizes -> try try rem instead of px, height)
    * Contact (Padding issues between text and map)
    */
}

/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  #mobile-menu{
    display: none;
  }
  /**
    * Projects
    ** Map (Video not centered, Code Section overflow to right)
    ** All of the other (Code Section overflow to right)
    * Education
    */
}

/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  /*Everything appears to work fine*/  
  #mobile-menu{
    display: none;
  }
}

/* Extra large screens, TV */
@media (min-width: 1201px) {
  /*Everything appears to work fine*/
  #mobile-menu{
    display: none;
  }
}


