
/* General APP style config */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*Header css config in Header.css*/

/* CSS styling for content between Header/Navbar and Footer */
main {
  /* padding: 20px 0; */
}

h1 {
  padding-left: 50px;
}
/* CSS styiling for Footer */
#footerDiv {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background-color: #bfbfbf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
}



/* Animations ??? */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Querries */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




